body {
    font-size: 0.9rem;
}

table * {
    vertical-align: middle !important;
}

th {
    white-space: nowrap!important;
}

dl, ol, ul {
    margin: 0;
}

/**
    auto-like page
 */
#auto-like .card .card-header {
    position: relative;
}

#auto-like #account-manager {
    position: absolute;
    top: 5px;
    right: 20px;
}

.media-body {
    font-size: 1rem;
}